@use "sass:math";
@use "sass:map";

// カラー
$main-color: #3ea1d1;
$color-base: #333;
$background-base: #fff;
$color-text-gray: #888;
$color-text-light-gray: #989898;
$color-accent: #e7728e;
$color-bg-footer: #f7f7f7;
$color-overlay: rgb(0 0 0 / 12%);

// ボタン用グラデーション色
$color-btn-gradient-start: rgb(0 62 136 / 100%);
$color-btn-gradient-end: rgb(1 149 211 / 100%);

// フォント
$font-base: "Noto Serif JP", serif;
$font-size-base: 1em; // 16px = 1em
$line-height-base: 1.7;
$font-weight-base: 300;

// レイアウト
$header-height-sp: 60px;
$header-height-pc: 70px;
$width-inner: 1280px;

// ブレークポイント
$breakpoints: (
  sm: "screen and (min-width: 600px)",
  pc: "screen and (min-width: 768px)",
  lg: "screen and (min-width: 900px)",
  xl: "screen and (min-width: 1200px)",
);

// 重なり順の定義
$layer: (
  // ローディング
  loading: 300,
  // モーダル
  modal: 100,
  // ドロワー
  drawer: 40,
  // フローティング
  floating: 30,
  // ヘッダー
  header: 20,
  // フッター
  footer: 10,
  default: 1
);

// 関数
@function px-to-rem($pixels, $baseFontSize: 16) {
  @return math.div($pixels, $baseFontSize) * 1rem;
}

