@use "global/variables" as *;
@use "global/mixins" as *;
@use "components/button";
@use "page/index";


body {
  font-family: $font-base;
  color: $color-base;
  background-color: $background-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $font-weight-base;
  padding-top: $header-height-sp;

  @include mq(md) {
    padding-top: 0;
  }
}

.inner {
  padding-inline: 16px;

  @include mq(md) {
    max-width: calc(1080px + 180px * 2);
    margin-inline: auto;
    padding-inline: 180px;
  }
}

.xl-br {
  display: none;

  @include mq(xl) {
    display: block;
  }
}

.pc-br {
  display: none;

  @include mq(md) {
    display: block;
  }
}

.sp-br {
  display: block;

  @include mq(md) {
    display: none;
  }
}
